<div class="controls">

  <!-- new attachment -->
  <a class="btn" data-toggle="modal" href="edit-budget-attachments-upload.html"><i class="icon-upload"></i> Upload Attachment</a>

  <!-- Filter -->
  <form class="pull-right">
    <select>
      <option>-- Filter --</option>
    </select>
  </form>

</div>

<table class="table cc-table">

  <thead>
    <tr>
      <th>Document Name</th>
      <th>Label</th>
      <th>Updated</th>
      <th>By</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="attachments">

  <tr>
    <td>Test.doc</td>
    <td>Fake</td>
    <td>20-2-2012</td>
    <td>Colby</td>
    <td>
      <div class="controls">
        <a href="#" class="edit btn"><i class="icon-edit"></i></a>
        <a href="#" class="delete btn btn-danger"><i class="icon-trash icon-white"></i></a>
      </div>
    </td>
  </tr>

  </tbody>

</table>