<!-- control bar -->
<div class="controlbar"></div>

<!-- test -->
<div class="canvas row">

  <div class="head span12">
  
    <div class="nav pull-right"></div>
    
    <!-- title -->
    <h1 class="title"><a href="/budget/{{_id}}">{{title}}</a> <small class="section-label">Budget</small></h1>
  
  </div>
  
  <section class="budget active section span12"></section>

  <section class="description section span12"></section>

  <section class="attachments section span12"></section>

  <section class="notes section span12"></section>

  <section class="audit section span12"></section>

</div>