<div class="pull-right">
  <ul class="nav nav-pills pull-right">
    {{#each sections}}
    <li class="{{name}} {{active name ../section}}">
      <a class="section-nav" href="#" data-section="{{name}}">{{proper}}</a>
    </li>
    {{/each}}
  </ul>
</div>