<div class="pull-right">
  <ul class="nav nav-pills pull-right">
    <li class="active budget">
      <a class="section-nav" href="#" data-section="budget">Budget</a>
    </li>
    <li class="description"><a class="section-nav" href="#" data-section="description">Description</a></li>
    <li class="attachments"><a class="section-nav" href="#" data-section="attachments">Attachments</a></li>
    <li class="notes"><a class="section-nav" href="#" data-section="notes">Notes</a></li>
    <li class="audit"><a class="section-nav" href="#" data-section="audit">Audit</a></li>
  </ul>
</div>