# Extracted from https://github.com/ulrich/macaron-factory/blob/master/.gitignore
# Ignore all dotfiles...
.*
# except for .gitignore
!.gitignore

# Ignore Play! working directory #
db
eclipse
log
logs
precompiled
tmp
test-result
eclipse
server.pid
nbproject #incase we use netbeans
modules/*
lib/*
*.log
tmp-repo
## NOTE: No .class files are created in play so we wont have to worry aobut that... hopefully

# JackRabbit
repository.xml
repository
