<div class="container">

  <!-- controls -->
  <div class="pull-left">
    <a href="#" class="btn"><i class="icon-refresh"></i></a>
    <a href="#" class="btn btn-success">Save Changes</a>
    <a href="#" class="btn btn-info">Clear Updates</a>
  </div>

  <!-- notifications -->
  <div class="pull-right">
    <a class="btn" style="visibility:hidden;">&nbsp;</a>
    <div class="alert alert-success">
      No Changes
    </div>
    <div class="alert alert-info">
      No Updates
    </div>
  </div>

</div>