<div class="modal">

  <!-- modal header -->
  <div class="modal-header">
    <a class="close" data-action="close" href="#">&times;</a>
    <h3>{{title}}</h3>
  </div>
      
  <!-- modal content -->
  <div class="modal-body"></div>

  <!-- modal footer -->
  <div class="modal-footer">
    <a href="dashboard.html" data-action="close" class="close-btn btn">{{close}}</a>
    <a href="#" data-action="confirm" id="confirm" class="btn btn-primary">{{action}}</a>
  </div>

</div>

<!-- modal backdrop -->
<div class="modal-backdrop fade in"></div>