<!-- attachments controls -->
<div class="controls">

    <!-- new attachment -->
    <a class="upload btn" data-toggle="modal" href="#"><i class="icon-upload"></i> Upload Attachment</a>

    <!-- Filter -->
    <div class="pull-right">
        <select class="filter-by input-medium">
            <option value="">-- Label --</option>
            {{#each labels}}
            <option value="{{.}}">{{.}}</option>
            {{/each}}
        </select>
    </div>

</div>

<!-- attachments -->
<table class="table cc-table">

  <thead>
    <tr>
      <th>Document Name</th>
      <th>Label</th>
      <th>Uploaded</th>
      <th>By</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="attachments"></tbody>

</table>

<div class="tmp"></div>