<!-- attachments controls -->
<div class="controls">

  <!-- new attachment -->
  <a class="upload btn" data-toggle="modal" href="#"><i class="icon-upload"></i> Upload Attachment</a>

  <!-- Filter -->
  <form class="filter pull-right form-inline">
    <input placeholder="Filter" class="filter-match input-medium" />
    <select class="filter-by input-small">
      <option value="user">By</option>
      <option value="name">Name</option>
      <option value="label" selected="selected">Label</option>
    </select>
    <button type="submit" class="btn">Filter</button>
  </form>

</div>

<!-- attachments -->
<table class="table cc-table">

  <thead>
    <tr>
      <th>Document Name</th>
      <th>Label</th>
      <th>Uploaded</th>
      <th>By</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="attachments"></tbody>

</table>

<div class="tmp"></div>