<!-- attachments controls -->
<div class="controls">

  <!-- new attachment -->
  <a class="upload btn" data-toggle="modal" href="#"><i class="icon-upload"></i> Upload Attachment</a>

  <!-- Filter -->
  <form class="pull-right">
    <select>
      <option>-- Filter --</option>
    </select>
  </form>

</div>

<!-- attachments -->
<table class="table cc-table">

  <thead>
    <tr>
      <th>Document Name</th>
      <th>Label</th>
      <th>Updated</th>
      <th>By</th>
      <th></th>
    </tr>
  </thead>

  <tbody class="attachments"></tbody>

</table>

<div class="tmp"></div>