<td>{{name}}</td>
<td>{{label}}</td>
<td>{{updated}}</td>
<td>{{by}}</td>
<td>
  <div class="controls">
    <a href="#" class="edit btn"><i class="icon-edit"></i></a>
    <a href="#" class="delete btn btn-danger"><i class="icon-trash icon-white"></i></a>
  </div>
</td>