<td>{{nodeId}}</td>
<td>{{label}}</td>
<td>{{_modified}}</td>
<td>{{userId}}</td>
<td>
  <div class="controls">
    <a href="#" class="edit btn"><i class="icon-download"></i> Download</a>
    <a href="#" class="delete btn btn-danger"><i class="icon-trash icon-white"></i></a>
  </div>
</td>