<form class="form-horizontal" _lpchecked="1">

  <fieldset class="info section active">

    <!-- title -->
    <div class="control-group">
      <label class="control-title" for="title">Title</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="title">
        <p class="help-block">The name of the budget.</p>
      </div>
    </div>

    <!-- roll -->
    <div class="control-group">
      <label class="control-roll" for="roll">Roll</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="roll">
        <p class="help-block">How often the budget rolls.</p>
      </div>
    </div>

    <!-- start -->
    <div class="control-group">
      <label class="control-starts" for="starts">Starts</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="starts">
        <p class="help-block">Date the budget goes into effect.</p>
      </div>
    </div>

    <!-- ends -->
    <div class="control-group">
      <label class="control-ends" for="ends">Ends</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="ends">
        <p class="help-block">Date the budget ends.</p>
      </div>
    </div>

  </fieldset>

</form>