<form class="form-horizontal" _lpchecked="1">

  <fieldset class="info section active">

    <!-- title -->
    <div class="title control-group">
      <label class="control-title" for="title">Title *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="title">
        <p class="help-block">The name of the budget.</p>
      </div>
    </div>

    <!-- description -->
    <div class="description control-group">
      <label class="control-description" for="description">Description *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="description">
        <p class="help-block">A short description.</p>
      </div>
    </div>

    <!-- roll -->
    <div class="rolls control-group">
      <label class="control-rolls" for="rolls">Rolls *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="rolls">
        <p class="help-block">How often the budget rolls.</p>
      </div>
    </div>

    <!-- start -->
    <div class="starts control-group">
      <label class="control-starts" for="starts">Starts *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="starts">
        <p class="help-block">Date the budget goes into effect (yyyy-mm-dd).</p>
      </div>
    </div>

    <!-- ends -->
    <div class="ends control-group">
      <label class="control-ends" for="ends">Ends *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="ends">
        <p class="help-block">Date the budget ends (yyyy-mm-dd).</p>
      </div>
    </div>

  </fieldset>

</form>