<div class="span12">

  <!-- new attachment -->
  <a class="new_budget btn pull-right" href="#"><i class="icon-plus"></i> New Budget</a>

  <h1>Budgets</h1>

</div>

<div class="span12">
  
  <table class="table cc-table">
    
    <thead>
      <th>title</th>
      <th>rolls</th>
      <th>starts</th>
      <th>ends</th>
      <th></th>
    </thead>

    <tbody class="budgets"></tbody>

  </table>

  <div class="tmp"></div>

</div>