<td>140.1</td>
<td>Printing Supplies</td>
<td>31/12/12</td>
<td>Dan</td>
<td>250.00</td>
<td>250.00</td>
<td class="controls">
    <div>
        <a href="#" class="btn"><i class="icon-edit"></i></a>
        <i class="icon-chevron-right"></i>
    </div>
</td>