<div class="row">
        
  <!-- sublines -->
  <div class="span7">
    <button class="btn"><i class="icon-plus"></i> New Subline</button>
    <table class="table sublines">
      
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Updated</th>
          <th>By</th>
          <th>Budget</th>
          <th>Actual</th>
        </tr>
      </thead>

      <tbody class="sublines"></tbody>

    </table>

  </div>

  <!-- transactions -->
  <div class="span5">
    <div class="well">
    <button class="btn"><i class="icon-plus"></i> Add Transaction</button>
    <table class="table transactions">
      <thead>
        <tr>
          <th>Transactions</th>
        </tr>
      </thead>
      <tbody>

        <tr><td></td></tr>

        <tr>
          <td style="border-top:none;">

            <table class="table table-bordered table-striped table-condensed">
              
              <thead>
                <tr>
                  <th>On</th>
                  <th>For</th>
                  <th>By</th>
                  <th>Amount</th>
                </tr>
              </thead>
              
              <tbody>
                <tr>
                  <td>15-3-12</td>
                  <td>Ink Cartridges</td>
                  <td>Dan</td>
                  <td>30.00</td>
                </tr>
                <tr>
                  <td>15-2-13</td>
                  <td>Ink Cartridges</td>
                  <td>William</td>
                  <td>25.00</td>
                </tr>
              </tbody>
              
            </table>
            
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  
</div>