<div class="row">
        
  <!-- sublines -->
  <div class="span7">
    <button class="btn"><i class="icon-plus"></i> New Subline</button>
    <table class="table sublines">
      
      <thead>
        <tr>
          <th>Line #</th>
          <th>Name</th>
          <th>Updated</th>
          <th>By</th>
          <th>Budget</th>
          <th>Actual</th>
        </tr>
      </thead>

      <tbody>
        
        <tr class="selected">
          <td>140.1</td>
          <td>Printing Supplies</td>
          <td>31/12/12</td>
          <td>Dan</td>
          <td>250.00</td>
          <td>250.00</td>
          <td class="controls">
            <div>
              <a href="#" class="btn"><i class="icon-edit"></i></a>
              <i class="icon-chevron-right"></i>
            </div>
          </td>
        </tr>

        <tr>
          <td>140.2</td>
          <td>Paper</td>
          <td>31/12/12</td>
          <td>William</td>
          <td>50.00</td>
          <td>50.00</td>
          <td class="controls">
            <div>
              <a href="#" class="btn"><i class="icon-edit"></i></a>
              <i class="icon-chevron-right"></i>
            </div>
          </td>
        </tr>

        <tr>
          <td>140.3</td>
          <td>Other</td>
          <td>31/12/12</td>
          <td>Carley</td>
          <td>150.00</td>
          <td>150.00</td>
          <td class="controls">
            <div>
              <a href="#" class="btn"><i class="icon-edit"></i></a>
              <i class="icon-chevron-right"></i>
            </div>
          </td>
        </tr>

      </tbody>

    </table>

  </div>

  <!-- transactions -->
  <div class="span5">
    <div class="well">
    <button class="btn"><i class="icon-plus"></i> Add Transaction</button>
    <table class="table transactions">
      <thead>
        <tr>
          <th>Transactions</th>
        </tr>
      </thead>
      <tbody>

        <tr><td></td></tr>

        <tr>
          <td style="border-top:none;">

            <table class="table table-bordered table-striped table-condensed">
              
              <thead>
                <tr>
                  <th>On</th>
                  <th>For</th>
                  <th>By</th>
                  <th>Amount</th>
                </tr>
              </thead>
              
              <tbody>
                <tr>
                  <td>15-3-12</td>
                  <td>Ink Cartridges</td>
                  <td>Dan</td>
                  <td>30.00</td>
                </tr>
                <tr>
                  <td>15-2-13</td>
                  <td>Ink Cartridges</td>
                  <td>William</td>
                  <td>25.00</td>
                </tr>
              </tbody>
              
            </table>
            
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>
  
</div>