<div class="row">
        
  <!-- sublines -->
  <div class="span7">
    <button class="btn new"><i class="icon-plus"></i> New Subline</button>
    <table class="table cc-table sublines">
      
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Budget</th>
          <th>Actual</th>
        </tr>
      </thead>

      <tbody class="sublines"></tbody>

    </table>

  </div>

  <!-- transactions -->
  <div class="span5">
    <div class="well transactions" style="min-height:200px;"></div>
  </div>
<div class="tmp"></div>
</div>