<form class="form-horizontal" _lpchecked="1">

  <fieldset class="info section active">

    <!-- Name -->
    <div class="name control-group">
      <label class="control-title" for="name">Name *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="name">
        <p class="help-block">The line name.</p>
      </div>
    </div>

    <!-- Subtotal -->
    <div class="subtotal control-group">
      <label class="control-title" for="subtotal">Amount *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="subtotal">
        <p class="help-block">The total value of the line (including sublines).</p>
      </div>
    </div>

  </fieldset>

</form>