<div class="head span12">

  <div class="nav pull-right"></div>
  
  <!-- title -->
  <h1 class="title"><a href="/budget/{{_id}}">{{title}}</a> <small class="section-label">Budget</small></h1>

</div>

{{#each sections}}
<section class="{{.}} {{active . ../section}} section span12"></section>
{{/each}}