<div id="details"></div>

<div class="container">

    <div class="row">

        <div id="income" class="seesaw span8 up"></div>

        <div id="expenses" class="seesaw span4"></div>

    </div>

</div>