<div class="box">
      
    <div>
        <h2 class="pull-left">{{title}}</h2>
        <h2 class="pull-right total">{{actual}} / {{budget}}</h2>
    </div>
    
    <div class="controls" style="clear:both;">
        <button class="btn new"><i class="icon-plus"></i> New line</button>
        <!--<div class="pull-right">
            <button class="btn"><i class="icon-chevron-up"></i></button>
            <button class="btn"><i class="icon-chevron-down"></i></button>
        </div>-->
    </div>
    
    <!-- income list -->
    <table class="table cc-table">
    
      <!-- header -->
      <thead>
        <tr>
          <th>Line #</th>
          <th>Name</th>
          <th>Budget</th>
          <th>Actual</th>
          <th class="hide"></th>
        </tr>
      </thead>
    
      <!-- lines -->
      <tbody class="lines"></tbody>
    
    </table>

</div>

<div class="tmp"></div>