<table class="table pull-left table-highlight">
    <thead>
      <tr>
        <th>Name</th>
        <th>Budget</th>
        <th>Actual</th>
        <th>Excess of Income</th>
        <th>Rolls</th>
        <th>Starts</th>
        <th>Ends</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{title}}</td>
        <td>00.00</td>
        <td>00.00</td>
        <td>00.00</td>
        <td>{{rolls}}</td>
        <td>{{ends}}</td>
        <td>{{starts}}</td>
      </tr>
    </tbody>
</table>