<form class="form-horizontal" _lpchecked="1">

  <fieldset class="info section active">

    <!-- Line Number -->
    <div class="line_number control-group">
      <label class="control-title" for="line_number">Line Number *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="line_number">
        <p class="help-block">A line number for ordering purposes.</p>
      </div>
    </div>

    <!-- Name -->
    <div class="name control-group">
      <label class="control-title" for="name">Name *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="name">
        <p class="help-block">The line name.</p>
      </div>
    </div>

    <!-- Subtotal -->
    <div class="subtotal control-group">
      <label class="control-title" for="subtotal">Subtotal *</label>
      <div class="controls">
        <input type="text" class="input-xlarge field" data-attr="subtotal">
        <p class="help-block">The line name.</p>
      </div>
    </div>

  </fieldset>

</form>