<div class="box">
      
    <div>
        <h2 class="pull-left">{{Title}}</h2>
        <h2 class="pull-right total">3,650 / 3,100</h2>
    </div>
    
    <div class="controls" style="clear:both;">
        <button class="btn"><i class="icon-plus"></i> Income Line</button>
        <div class="pull-right">
            <button class="btn"><i class="icon-chevron-up"></i></button>
            <button class="btn"><i class="icon-chevron-down"></i></button>
        </div>
    </div>
    
    <!-- income list -->
    <table class="table">
    
      <!-- header -->
      <thead>
        <tr>
          <th>Line #</th>
          <th>Name</th>
          <th class="hide">Updated</th>
          <th class="hide">By</th>
          <th>Budget</th>
          <th>Actual</th>
          <th class="hide"></th>
        </tr>
      </thead>
    
      <!-- lines -->
      <tbody class="budgets">
    
        <!-- a line -->
        <tr class="dirty">
          <td>100</td>
          <td>Fund Raising</td>
          <td class="hide">2011-12-31</td>
          <td class="hide">Dan</td>
          <td>1,300.00</td>
          <td>1,250.00</td>
          <!-- controls -->
          <td class="hide controls">
            <div>
              <a class="btn" href="line.html"><i class="icon-edit"></i></a>
              <button class="btn btn-danger"><i class="icon-trash icon-white"></i></button>
            </div>
          </td>
        </tr>
    
        <!-- a line -->
        <tr>
          <td>200</td>
          <td>Receivables</td>
          <td class="hide">2011-12-31</td>
          <td class="hide">William</td>
          <td>800.00</td>
          <td>850.00</td>
          <!-- controls -->
          <td class="hide controls">
            <div>
              <a class="btn" href="line.html"><i class="icon-edit"></i></a>
              <button class="btn btn-danger"><i class="icon-trash icon-white"></i></button>
            </div>
          </td>
        </tr>
    
        <!-- a line -->
        <tr class="changed">
          <td>300</td>
          <td>Collections</td>
          <td class="hide">2011-12-31</td>
          <td class="hide">Jamie</td>
          <td>1,550.00</td>
          <td>1,000.00</td>
          <!-- controls -->
          <td class="hide controls">
            <div>
              <a class="btn" href="line.html"><i class="icon-edit"></i></a>
              <button class="btn btn-danger"><i class="icon-trash icon-white"></i></button>
            </div>
          </td>
        </tr>
    
      </tbody>
    
    </table>

</div>