<!DOCTYPE html>
<html>

  <head>

    <title>Dashboard - CloudCount</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- bootstrap -->
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap-responsive.css" />

    <!-- styles -->
    <link rel="stylesheet" href="../stylesheets/main.css" />

  </head>

  <body>

    <!-- top bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- title -->
          <a class="brand" href="index.html">Cloud Count</a>

          <!-- nav -->
          <ul class="nav">
            <li class="active"><a href="dashboard.html">Budgets</a></li>
          </ul>

          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>

          <!-- settings -->
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle">Users <b class="caret"></b></a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container" id="head">

      <!-- title -->
      <h1 class="title">Budgets</h1>

    </div>

    <div class="container" id="controls">
      <button class="btn pull-right"><i class="icon-refresh"></i></button>
      <a class="btn btn-primary" data-toggle="modal" href="dashboard-new.html"><i class="icon-plus icon-white"></i> New Budget</a>
    </div>

    <div class="container selectable selected" id="main">

      <!-- budget list -->
      <table class="table">

        <!-- header -->
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Updated At</th>
            <th>Updated By</th>
            <th>Budget</th>
            <th>Actual</th>
            <th>Var</th>
            <th>%</th>
            <th></th>
          </tr>
        </thead>

        <!-- budgets -->
        <tbody class="budgets">

          <!-- a budget -->
          <tr class="changed">
            <td>Yearly Budget 2012</td>
            <td>APPROVED</td>
            <td>2011-12-31 4:45pm</td>
            <td>Dan Miller</td>
            <td>2,000.00</td>
            <td>2,139.00</td>
            <td>+ 2.00</td>
            <td>.5</td>
            <!-- controls -->
            <td class="controls">
              <div>
                <a href="edit-budget-income.html" class="btn btn-primary"><i class="icon-edit icon-white"></i></a>
                <a class="btn"><i class="icon-download"></i></a>
                <button class="btn btn-danger"><i class="icon-trash icon-white"></i></button>
              </div>
            </td>
          </tr>

          <!-- a budget -->
          <tr>
            <td>Org Budget 2011</td>
            <td>APPROVED</td>
            <td>2011-12-31 4:45pm</td>
            <td>Dan Miller</td>
            <td>2,000.00</td>
            <td>2,139.00</td>
            <td>+ 2.00</td>
            <td>.5</td>
            <!-- controls -->
            <td class="controls">
              <div>
                <a href="edit-budget-income.html" class="btn btn-primary"><i class="icon-edit icon-white"></i></a>
                <a class="btn"><i class="icon-download"></i></a>
                <button class="btn btn-danger"><i class="icon-trash icon-white"></i></button>
              </div>
            </td>
          </tr>

          <!-- a budget -->
          <tr>
            <td>Org Budget 2011</td>
            <td>APPROVED</td>
            <td>2011-12-31 4:45pm</td>
            <td>Dan Miller</td>
            <td>2,000.00</td>
            <td>2,139.00</td>
            <td>+ 2.00</td>
            <td>.5</td>
            <!-- controls -->
            <td class="controls">
              <div>
                <a href="edit-budget-income.html" class="btn btn-primary"><i class="icon-edit icon-white"></i></a>
                <a class="btn"><i class="icon-download"></i></a>
                <button class="btn btn-danger"><i class="icon-trash icon-white"></i></button>
              </div>
            </td>
          </tr>

        </tbody>

      </table>

    </div>

    <!-- scripts -->
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/bootstrap.js"></script>

  </body>

</html>
