<!DOCTYPE html>
<html>

  <head>

    <title>Edit Budget - CloudCount</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- bootstrap -->
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap-responsive.css" />

    <!-- styles -->
    <link rel="stylesheet" href="../stylesheets/main.css" />

  </head>

  <body>

    <!-- top bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- title -->
          <a class="brand" href="#">Cloud Count</a>

          <!-- nav -->
          <ul class="nav">
            <li class="active"><a href="#">Budgets</a></li>
          </ul>

          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>

          <!-- settings -->
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle">Users <b class="caret"></b></a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container" id="head">

      <!-- title -->
      <h1 class="title pull-left">Edit Budget</h1>

      <ul class="nav nav-pills pull-right">
        <li class="active">
          <a href="#">Budget</a>
        </li>
        <li><a href="#">Description</a></li>
        <li><a href="#">Attachments</a></li>
        <li><a href="#">Notes</a></li>
        <li><a href="#">Audit</a></li>
      </ul>

    </div>

    <!-- 
    <div class="container" id="controls">
      <button class="btn "><i class="icon-refresh"></i></button>
      <button class="btn btn-primary pull-right" data-toggle="modal" href="#myModal"><i class="icon-plus icon-white"></i> New Budget</button>
    </div>
     -->

    <div class="container" id="main">

      <div class="row">

        <div id="income" class="selectable span8 selected">
          
          <div class="box">
          
            <div>
              <h2 class="pull-left">Income</h2>
              <h2 class="pull-right total">$400</h2>
            </div>
            
            <!-- income list -->
            <table class="table">
            
              <!-- header -->
              <thead>
                <tr>
                  <th>Line #</th>
                  <th>Name</th>
                  <th class="hide">Updated</th>
                  <th class="hide">By</th>
                  <th class="hide">Budget</th>
                  <th>Actual</th>
                  <th class="hide"></th>
                </tr>
              </thead>
            
              <!-- lines -->
              <tbody class="budgets">
            
                <!-- a line -->
                <tr>
                  <td>100</td>
                  <td>Stuff</td>
                  <td class="hide">2011-12-31 4:45pm</td>
                  <td class="hide">Dan Miller</td>
                  <td class="hide">$ 2,000.00</td>
                  <td>$ 568.00</td>
                  <!-- controls -->
                  <td class="hide controls">
                    <div>
                      <button class="btn"><i class="icon-edit"></i> Edit</button>
                    </div>
                  </td>
                </tr>
            
                <!-- a line -->
                <tr>
                  <td>200</td>
                  <td>Stuff</td>
                  <td class="hide">2011-12-31 4:45pm</td>
                  <td class="hide">Dan Miller</td>
                  <td class="hide">$ 2,000.00</td>
                  <td>$ 568.00</td>
                  <!-- controls -->
                  <td class="hide controls">
                    <div>
                      <button class="btn"><i class="icon-edit"></i> Edit</button>
                    </div>
                  </td>
                </tr>
            
                <!-- a line -->
                <tr>
                  <td>300</td>
                  <td>Stuff</td>
                  <td class="hide">2011-12-31 4:45pm</td>
                  <td class="hide">Dan Miller</td>
                  <td class="hide">$ 2,000.00</td>
                  <td>$ 568.00</td>
                  <!-- controls -->
                  <td class="hide controls">
                    <div>
                      <button class="btn"><i class="icon-edit"></i> Edit</button>
                    </div>
                  </td>
                </tr>
            
              </tbody>
            
            </table>
          
          </div>
          
        </div>

        <div id="expenses" class="selectable span4">
          
          <div class="box">
          
            <div>
              <h2 class="pull-left">Expenses</h2>
              <h2 class="pull-right total">$400</h2>
            </div>
            
            <!-- expense list -->
            <table class="table">
            
              <!-- header -->
              <thead>
                <tr>
                  <th>Line #</th>
                  <th>Name</th>
                  <th class="hide">Updated</th>
                  <th class="hide">By</th>
                  <th class="hide">Budget</th>
                  <th>Actual</th>
                  <th class="hide"></th>
                </tr>
              </thead>
            
              <!-- lines -->
              <tbody class="budgets">
            
                <!-- a line -->
                <tr>
                  <td>100</td>
                  <td>Expense Stuff</td>
                  <td class="hide">2011-12-31 4:45pm</td>
                  <td class="hide">Dan Miller</td>
                  <td class="hide">$ 2,000.00</td>
                  <td>$ 400.00</td>
                  <!-- controls -->
                  <td class="hide controls">
                    <div>
                      <button class="btn"><i class="icon-edit"></i> Edit</button>
                    </div>
                  </td>
                </tr>
            
                <!-- a line -->
                <tr>
                  <td>200</td>
                  <td>Stuff</td>
                  <td class="hide">2011-12-31 4:45pm</td>
                  <td class="hide">Dan Miller</td>
                  <td class="hide">$ 2,000.00</td>
                  <td>$ 568.00</td>
                  <!-- controls -->
                  <td class="hide controls">
                    <div>
                      <button class="btn"><i class="icon-edit"></i> Edit</button>
                    </div>
                  </td>
                </tr>
            
                <!-- a line -->
                <tr>
                  <td>300</td>
                  <td>Stuff</td>
                  <td class="hide">2011-12-31 4:45pm</td>
                  <td class="hide">Dan Miller</td>
                  <td class="hide">$ 2,000.00</td>
                  <td>$ 568.00</td>
                  <!-- controls -->
                  <td class="hide controls">
                    <div>
                      <button class="btn"><i class="icon-edit"></i> Edit</button>
                    </div>
                  </td>
                </tr>
            
              </tbody>
            
            </table>
            
          </div>
          
        </div>

      </div>
    </div>

    <!-- scripts -->
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/bootstrap.js"></script>

  </body>

</html>
