<!DOCTYPE html>
<html>

  <head>

    <title>Budget Attachments - CloudCount</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- bootstrap -->
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap-responsive.css" />

    <!-- styles -->
    <link rel="stylesheet" href="../stylesheets/main.css" />

  </head>

  <body>

    <!-- top bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- title -->
          <a class="brand" href="index.html">Cloud Count</a>

          <!-- nav -->
          <ul class="nav">
            <li><a href="dashboard.html">Budgets</a></li>
          </ul>

          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>

          <!-- settings -->
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle">Users <b class="caret"></b></a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- control bar -->
    <div class="control-bar">
      <div class="container">

        <!-- controls -->
        <div class="pull-left">
          <a href="#" class="btn"><i class="icon-refresh"></i></a>
          <a href="#" class="btn btn-success">Save Changes</a>
          <a href="#" class="btn btn-info">Clear Updates</a>
        </div>

        <!-- notifications -->
        <div class="pull-right">
          <a class="btn" style="visibility:hidden;">&nbsp;</a>
          <strong>Budget Status:</strong>
          <div class="alert alert-success">
            <strong>1</strong> change
          </div>
          <a href="#" class="alert alert-info"><strong>2</strong> updates</a>
        </div>

      </div>
    </div>
    
    <div class="container" id="head">

      <!-- title -->
      <h1 class="title pull-left"><a href="edit-budget-income.html">Yearly Budget 2012</a> <small>Attachments</small></h1>
      
      <div class="pull-right">
        <a style="padding:10px 15px;" href="#" class="pull-left"><i class="icon-refresh"></i></a>
        <ul class="nav nav-pills pull-right">
          <li>
            <a href="edit-budget-income.html">Budget</a>
          </li>
          <li><a href="edit-budget-description.html">Description</a></li>
          <li class="active"><a href="edit-budget-attachments.html">Attachments</a></li>
          <li><a href="edit-budget-notes.html">Notes</a></li>
          <li><a href="edit-budget-audit.html">Audit</a></li>
        </ul>
      </div>

    </div>

    <div class="container" id="controls">
      <button class="btn btn-primary" data-toggle="modal" href="#myModal"><i class="icon-upload icon-white"></i> Upload Attachment</button>
    </div>

    <div class="container" id="main">

      <table class="table">
        
        <thead>
          <th>Document Name</th>
          <th>Label</th>
          <th>Updated</th>
          <th>By</th>
          <th></th>
        </thead>
        
        <tbody>
          <tr>
            <td>Joe Estimate.doc</td>
            <td>Estimate</td>
            <td>24-12-2011</td>
            <td>Bob</td>
            <!-- controls -->
            <td class="controls">
              <div>
                <button class="btn"><i class="icon-download"></i> Download</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>Project Initiation.doc</td>
            <td>Project Stuff</td>
            <td>21-12-2011</td>
            <td>Bob</td>
            <!-- controls -->
            <td class="controls">
              <div>
                <button class="btn"><i class="icon-download"></i> Download</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>Travel Expenses.doc</td>
            <td>Expenses</td>
            <td>19-12-2011</td>
            <td>John</td>
            <!-- controls -->
            <td class="controls">
              <div>
                <button class="btn"><i class="icon-download"></i> Download</button>
              </div>
            </td>
          </tr>
          <tr>
            <td>November Income Report.doc</td>
            <td>Income</td>
            <td>04-12-2011</td>
            <td>Alice</td>
            <!-- controls -->
            <td class="controls">
              <div>
                <button class="btn"><i class="icon-download"></i> Download</button>
              </div>
            </td>
          </tr>
        </tbody>
        
      </table>
      
    </div>
    
    <div class="modal">

      <!-- modal header -->
      <div class="modal-header">
        <a class="close" data-dismiss="modal" href="edit-budget-attachments.html">&times;</a>
        <h3>Upload Attachment</h3>
      </div>

      <!-- modal content -->
      <div class="modal-body">
        <form class="form-horizontal" _lpchecked="1">
          <fieldset>

            <!-- name -->
            <div class="control-group">
              <label class="control-label" for="input01">File Name</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="input01">
                <p class="help-block">The name of the attachment, as it should appear in the system.</p>
              </div>
            </div>

            <!-- description -->
            <div class="control-group">
              <label class="control-label" for="input01">Label</label>
              <div class="controls">
                <input type="text" class="input-xlarge" id="input01">
                <p class="help-block">A one-word label for categorizing attachments.</p>
              </div>
            </div>

            <!-- start -->
            <div class="control-group">
              <label class="control-label" for="input01">File</label>
              <div class="controls">
                <input type="file" class="input-xlarge" id="input01">
                <p class="help-block">Choose a file to upload from the hard drive.</p>
              </div>
            </div>

          </fieldset>
        </form>
      </div>

      <!-- modal footer -->
      <div class="modal-footer">
        <a href="edit-budget-attachments.html" class="btn">Cancel</a>
        <a href="#" class="btn btn-primary"><i class="icon-upload icon-white"></i> Upload</a>
      </div>

    </div>

    <!-- modal backdrop -->
    <div class="modal-backdrop fade in"></div>

    <!-- scripts -->
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/bootstrap.js"></script>

  </body>

</html>
