<!DOCTYPE html>
<html>

  <head>

    <title>Budget Description - CloudCount</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- bootstrap -->
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap-responsive.css" />

    <!-- styles -->
    <link rel="stylesheet" href="../stylesheets/main.css" />

  </head>

  <body>

    <!-- top bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- title -->
          <a class="brand" href="index.html">Cloud Count</a>

          <!-- nav -->
          <ul class="nav">
            <li><a href="dashboard.html">Budgets</a></li>
          </ul>

          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>

          <!-- settings -->
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle">Users <b class="caret"></b></a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container" id="head">

      <!-- title -->
      <h1 class="title pull-left"><a href="edit-budget-income.html">Yearly Budget 2012</a>  <small>Audit</small></h1>

      <ul class="nav nav-pills pull-right">
        <li>
          <a href="edit-budget-income.html">Budget</a>
        </li>
        <li><a href="edit-budget-description.html">Description</a></li>
        <li><a href="edit-budget-attachments.html">Attachments</a></li>
        <li><a href="edit-budget-notes.html">Notes</a></li>
        <li class="active"><a href="edit-budget-audit.html">Audit</a></li>
      </ul>

    </div>

    <div class="container" id="controls">
      <button class="btn pull-right"><i class="icon-refresh"></i></button>
    </div>

    <div class="container" id="main">

      <table class="table">
        
        <thead>
          <tr>
            <th>Action</th>
            <th>Updated</th>
            <th>By</th>
          </tr>
        </thead>
        
        <tbody>
          
          <tr>
            <td>Uploaded attachment Purchase Order 13.pdf</td>
            <td>04/02/2011</td>
            <td>Jamie</td>
          </tr>
          
          <tr>
            <td>Updated Expenditures</td>
            <td>04/02/2011</td>
            <td>William</td>
          </tr>
          
          <tr>
            <td>Updated Income</td>
            <td>04/02/2011</td>
            <td>Jill</td>
          </tr>
          
          <tr>
            <td>Uploaded attachment January Expenses.pdf</td>
            <td>03/02/2011</td>
            <td>Darrel</td>
          </tr>
          
          <tr>
            <td>Uploaded attachment January Time.pdf</td>
            <td>02/02/2011</td>
            <td>Jack</td>
          </tr>
          
          <tr>
            <td>Uploaded attachment Purchase Order 12.pdf</td>
            <td>01/02/2011</td>
            <td>William</td>
          </tr>
          
          <tr>
            <td>Uploaded attachment 2011 Budget.xls</td>
            <td>31/01/2011</td>
            <td>Jill</td>
          </tr>
          
        </tbody>
        
      </table>
      
    </div>

    <!-- scripts -->
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/bootstrap.js"></script>

  </body>

</html>
