<!DOCTYPE html>
<html>

  <head>

    <title>Budget Attachments - CloudCount</title>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- bootstrap -->
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap.css" />
    <link rel="stylesheet" href="../stylesheets/bootstrap/bootstrap-responsive.css" />

    <!-- styles -->
    <link rel="stylesheet" href="../stylesheets/main.css" />

  </head>

  <body>

    <!-- top bar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">

          <!-- title -->
          <a class="brand" href="index.html">Cloud Count</a>

          <!-- nav -->
          <ul class="nav">
            <li><a href="dashboard.html">Budgets</a></li>
          </ul>

          <form class="navbar-search pull-left" action="">
            <input type="text" class="search-query span2" placeholder="Search">
          </form>

          <!-- settings -->
          <ul class="nav pull-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle">Users <b class="caret"></b></a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="container" id="head">

      <!-- title -->
      <h1 class="title pull-left">Yearly Budget 2012 <small>140. Office Supplies</small></h1>

      <ul class="pager pull-right">
        <li>
          <a href="#">&larr; Previous</a>
        </li>
        <li></li>
        <li>
          <a href="#">Next &rarr;</a>
        </li>
      </ul>

    </div>

    <div class="container" id="controls">
      <button class="btn btn-primary"><i class="icon-plus icon-white"></i> New Subline</button>
      <button class="btn pull-right"><i class="icon-refresh"></i></button>
    </div>

    <div class="container" id="main">

      <div class="row">
        
        <!-- sublines -->
        <div class="span7">
          
          <table class="table sublines">
            
            <thead>
              <tr>
                <th>Line #</th>
                <th>Name</th>
                <th>Updated</th>
                <th>By</th>
                <th>Budget</th>
                <th>Actual</th>
              </tr>
            </thead>
            
            <tbody>
              
              <tr class="selected">
                <td>140.1</td>
                <td>Printing Supplies</td>
                <td>31/12/12</td>
                <td>Dan</td>
                <td>300.00</td>
                <td></td>
              </tr>
              
            </tbody>
            
          </table>
          
        </div>
        
        <!-- transactions -->
        <div class="span5">
          <table class="table transactions">
            <thead>
              <tr>
                <th>Transactions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <table class="table table-bordered table-striped table-condensed">
                    <thead>
                      <tr>
                        <th>On</th>
                        <th>For</th>
                        <th>By</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>15-3-12</td>
                        <td>Ink Cartridges</td>
                        <td>Carley</td>
                        <td>30.00</td>
                      </tr>
                      <tr>
                        <td>15-3-12</td>
                        <td>Ink Cartridges</td>
                        <td>William</td>
                        <td>25.00</td>
                      </tr>
                    </tbody>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        
      </div>
      
    </div>

    <!-- scripts -->
    <script type="text/javascript" src="../javascripts/jquery.js"></script>
    <script type="text/javascript" src="../javascripts/bootstrap.js"></script>

  </body>

</html>
