<!DOCTYPE html>
<html>

<head>

<!-- meta -->
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">

<!-- HTML5 shim -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- styles -->
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/bootstrap.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/bootstrap-responsive.css'}" />

<!-- icons -->
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

</head>

<body>

#{doLayout /}

</body>

</html>