<!DOCTYPE html>
<html>

<head>

<!-- meta -->
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">

<!-- HTML5 shim -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- styles -->
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}" />
#{get 'moreStyles' /}

<!-- icons -->
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

</head>

<body>

<!-- content -->
#{doLayout /}

<!-- scripts -->
<script type="text/javascript">
  var require = { baseUrl: "/public/javascripts/" };
</script>
<script data-main="modules/main" src="@{'/public/javascripts/require.js'}" type="text/javascript" charset="${_response_encoding}"></script>

</body>

</html>
