<!DOCTYPE html>
<html>

<head>

<!-- meta -->
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">

<!-- HTML5 shim -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- styles -->
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/bootstrap.css'}" />
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/bootstrap/bootstrap-responsive.css'}" />

<!-- icons -->
<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}" />

</head>

<body>

<!-- top bar -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">

      <!-- title -->
      <a class="brand" href="@{Application.index()}"><img src="@{'/public/images/cc-icon-20-w.png'}" /> Cloud Count</a>

      <!-- nav -->
      <ul class="nav">
        <li><a href="/">Budgets</a></li>
      </ul>

      <form class="navbar-search pull-left" action="">
        <input type="text" class="search-query span2" placeholder="Search">
      </form>

      <!-- settings -->
      <ul class="nav pull-right">
        <li class="dropdown"><a href="/users" class="dropdown-toggle" data-bypass="true">Users</a></li>
        <li><a href="/settings"  data-bypass="true">Settings</a></li>
        <li><a href="@{Secure.logout()}" data-bypass="true">Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- content -->
<div id="main" role="main" class="container">

#{doLayout /}

</div>

</body>

</html>
